@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Merriweather Sans", sans-serif;
}

body {
  /* background: #09090f; */
  /* color: white; */
}

.ant-card-head-title{
  white-space: pre-wrap !important;
}
@media only screen and (max-width: 600px) {
  .login-reverse {
   flex-direction: column-reverse !important;
  }

}